@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./imports/app/colors.scss";

$white:         #ffffff;
$clouds:	#eeeeee;
$paper:         #dddddd;
$silver:	#bbbbbb;
$concrete:      #aaaaaa;
$gravel:        #888888;
$asbestos:      #666666;
$basalt: 	#444444;
$tar:		#222222;
$black:         #000000;

$sky:		#c0d3d8;
$storm:		#8cb4c1;
$slate:         #1f2d3a;
$ocean:		#2b3f56;

/* background colours */
$color-feature: $white;
$color-dark:    $slate;
$color-light:   $storm;
$color-navbar:  $clouds;
$color-sitemap: $basalt;
$color-footer:  $tar;

/* text colors */
$text-color-feature: $basalt;
$text-color-dark:    $clouds;
$text-color-light:   $tar;
$text-color-navbar:  $white;
$text-color-sitemap: $white;
$text-color-footer:  $white;

/* link colors */
$link-color-dark:    $paper;
$hover-color-dark:   $silver;
$active-color-dark:  $concrete;
$focus-color-dark:   $paper;

$link-color-light:   $basalt;
$hover-color-light:  $gravel;
$active-color-light: $concrete;
$focus-color-light:  $basalt;

@font-face {
  font-family: 'Franklin';
  src: url('fonts/FranklinGothic-Book.eot');
  src: local('@'), url('fonts/FranklinGothic-Book.woff') format('woff'), url('fonts/FranklinGothic-Book.ttf') format('truetype'), url('fonts/FranklinGothic-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinBold';
  src: url('fonts/FranklinBold.eot');
  src: local('@'), url('fonts/FranklinBold.woff') format('woff'), url('fonts/FranklinBold.ttf') format('truetype'), url('fonts/FranklinBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
 
html, body {
  height: 100%;
}
 
body {
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
}

.bg-faded {
  background-color: $sky;
}

h1 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1.2rem;
}

.sebm-google-map-container {
  width: 450px;
  height: 450px;
}

.dark, .ousa {
  background-color: $color-dark;
  color: $text-color-dark;
}

.light {
  background-color: $color-light;
  color: $text-color-light;
}

.feature {
  background-color: $color-feature;
  color: $text-color-feature;
}

.feature2 {
  background-image: url('images/1435_x_1080_project2.png');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: $text-color-feature;
}

footer > div {
  background-color: $tar;
  color: $text-color-dark;
}

footer, .dark, .ousa {
  a {
    text-decoration: none;
    color: $link-color-dark;
  }

  a:hover {
    text-decoration: none;
    color: $hover-color-dark;
  }

  a:active {
    color: $active-color-dark;
  }

  a:focus {
    text-decoration: none;
    color: $focus-color-dark;
  }
}

.feature, .light {
  a {
    text-decoration: none;
    color: $link-color-light;
  }

  a:hover {
    text-decoration: none;
    color: $hover-color-light;
  }

  a:active {
    color: $active-color-light;
  }

  a:focus {
    text-decoration: none;
    color: $focus-color-light;
  }
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

.btn {
  border: none;
}

.btn-primary {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
  background-color: $ocean;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}