@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./imports/app/colors.scss";

@font-face {
  font-family: 'Franklin';
  src: url('fonts/FranklinGothic-Book.eot');
  src: local('@'), url('fonts/FranklinGothic-Book.woff') format('woff'), url('fonts/FranklinGothic-Book.ttf') format('truetype'), url('fonts/FranklinGothic-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinBold';
  src: url('fonts/FranklinBold.eot');
  src: local('@'), url('fonts/FranklinBold.woff') format('woff'), url('fonts/FranklinBold.ttf') format('truetype'), url('fonts/FranklinBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
 
html, body {
  height: 100%;
}
 
body {
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
}
 
.sebm-google-map-container {
  width: 450px;
  height: 450px;
}

.dark {
  background-color: #444444;
  color: #cccccc;
}

.light {
  background-color: #cccccc;
  color: #444444;
}