@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./imports/app/colors.scss";

@font-face {
  font-family: 'Franklin';
  src: url('fonts/FranklinGothic-Book.eot');
  src: local('@'), url('fonts/FranklinGothic-Book.woff') format('woff'), url('fonts/FranklinGothic-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
html, body {
  height: 100%;
}
 
body {
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
}
 
.sebm-google-map-container {
  width: 450px;
  height: 450px;
}