<div class="container-fluid light">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
	<h1>Services</h1>
	<p>Project management - from manuscript to finished product</p>
	<p>Design (covers and internal print design)</p>
	<p>Editing</p>
	<p>Proofreading</p>
	<p>Printing</p>
	<p>If you would like to discuss any of the following or would like to discuss your ideas about a project, please contact us.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid light">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
	<h1>Contact</h1>
	<p>kekeno@kekenopress.co.nz</p>
	<p>+64 21 211 4479</p>
	<p>PO Box 8025, Gardens, Dunedin 9041</p>
      </div>
    </div>
  </div>
</div>
