<div id="landing" parallax [config]="parallaxConfig">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
	<div class="col-lg-6">
	  <h1>Welcome</h1>
	  <p>Kekeno Press was established in 2013 in Dunedin, on the east coast of the wild south of Te Wai Pounamu (<span style="white-space: nowrap">South Island</span> of <span style="white-space: nowrap">New Zealand</span>), and takes its name from the local fur seal.</p>
	  <p>Kekeno Press is a bespoke publisher of beautiful, quality <span style="white-space: nowrap">non-fiction</span> books. Although we have a bent for history and memoir, we can assist you with turning any <span style="white-space: nowrap">non-fiction</span> work into a published work of art.</p>
	  <p>Whether it&apos;s taking a manuscript through to publication from start to finish or assisting with layout and design, editing, or proofreading, we&apos;d be delighted to help you achieve your vision.</p>
	  <a class="photo-credit" href="https://unsplash.com/@aleksdahlberg?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Aleks Dahlberg"><span style="display:inline-block;padding:2px 3px;"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"><title></title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px;">Photo credit: Aleks Dahlberg</span></a>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
	<h1>Featured Project</h1>
	<h3>ABC Letters From Dunedin</h3>
	<p>The first ever <span style="white-space: nowrap">full-colour</span> ABC published in <span style="white-space: nowrap">New Zealand</span>, <span style="white-space: nowrap">&lsquo;ABC Letters from Dunedin&rsquo;</span> was originally published in 1981. It combines the verse of Otago historian George Griffiths with the paintings of Annie Baird. New Zealand&apos;s oldest city comes alive with charm and affection in this <span style="white-space: nowrap">re-release</span>, which includes contextual material from the author. It is a work of flair and a unique tribute to Dunedin.</p>
	<p>ISBN 978-0-473-24482-8</p>
	<p>Paperback, 32 pp, full colour.</p>
	<p>$14.99</p>
	<a href="mailto:kekeno@kekenopress.co.nz?subject=ABC letters from Dunedin enquiry"><button class="btn btn-primary">Purchase enquiries</button></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid dark">
  <div class="container">
    <div class="row justify-content-end text-right">
      <div class="col-lg-8">
	<h1>Forthcoming</h1>
	<h3>Rolling with the punches: Otago University Students&apos; Association 1980-2015</h3>
      </div>
      <div class="col-lg-6">
	<p>This history takes up where Sam Elworthy&apos;s <span style="white-space: nowrap">&lsquo;Ritual song of defiance&rsquo;</span> leaves off, charting the tempestuous years of the oldest students&apos;  association in <span style="white-space: nowrap">New Zealand</span>, up until its 125th anniversary. Take a <span style="white-space: nowrap">roller-coaster</span> ride through radical years that saw the introduction of user pays for tertiary education, student loans, and the passing of the Voluntary Student Membership bill in 2012. Meet the cast of reactionaries, revolutionaries and personalities who stamped their mark on tertiary education in Dunedin.</p>
	<a href="mailto:kekeno@kekenopress.co.nz?subject=OUSA History - Registration of interest"><button class="btn btn-primary">Register interest</button></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid light">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-6">
	<h1>About</h1>
	<img class="about-image" src="images/254_x_254_philippa.png" />
	<h3>Philippa Keaney</h3>
	<p>Books have been a constant in my life. I am a writer and have, at various times, been a print designer, editor, proofreader and publisher. Kekeno Press is the <span style="white-space: nowrap">synthesis of that experience.</span></p>

	<p>Kekeno Press emerged out of an appreciation for local stories and writers based here in Otago. A project I delivered for a local museum&mdash;exploring concepts of home&mdash;impressed upon me how many potentially <span style="white-space: nowrap">life-transforming</span> stories have <span style="white-space: nowrap">never been shared.</span></p>

	<p>I want to reinvigorate local stories and provide a space for new stories to emerge. <span style="white-space: nowrap">Kekeno Press</span> is also dedicated to helping potential storytellers and authors achieve their vision of publication by providing a full range of writing, editing, design and publishing services, both in traditional print and <span style="white-space: nowrap">e-book</span> form.</p>
      </div>
    </div>
  </div>
</div>
