<div id="landing" parallax [config]="parallaxConfig">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
	<div class="col-lg-6">
	  <h1>Hi there!</h1>
	</div>
      </div>
      <div class="row">
	<div class="col-lg-6">
	  <p>Kekeno Press was established in 2013 in Dunedin, on the east coast of the wild south of Te Wai Pounamu (South Island of New Zealand), and takes its name from the local fur seal.</p>
	  <p>Kekeno Press is a bespoke publisher of beautiful, quality non-fiction books. Although we have a bent for history and memoir, we can assist you with turning any non-fiction work into a published work of art.</p>
	  <p>Whether it's taking a manuscript through to publication from start to finish or assisting with layout and design, editing, or proofreading, we'd be delighted to help you achieve your vision.</p>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
	<h1>Featured Project</h1>
	<h3>ABC Letters From Dunedin</h3>
	<p>The first ever full-colour ABC published in New Zealand, ABC Letters from Dunedin combines the verse of Otago historian George Griffiths with the paintings of Annie Baird. New Zealand's oldest city comes alive with charm and affection in this re-release, which includes contextual material from the author. It is a work of flair and a unique tribute to Dunedin.</p>
	<p>ISBN 978-0-473-24482-8</p>
	<p>Extent: 32 pages, full colour</p>
	<p>Binding: Paperback</p>
	<p>Format: 189 x 286mm</p>
	<p>For purchase enquiries contact us at <a href="mailto:kekeno@kekeno.co.nz?subject=ABC letters from Dunedin enquiry">kekeno@kekeno.co.nz</a></p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid dark">
  <div class="container">
    <div class="row justify-content-end text-right">
      <div class="col-lg-6">
	<h1>Forthcoming</h1>
	<h3>OUSA History</h3>
	<p>Oh no! Howsit goin, this hard case holden is as paru as a mean as Undie 500. Mean while, in Shortland Street, Mr Whippy and Fred Dagg were up to no good with a bunch of rip-off pohutukawas. The nuclear-free force of his burning my Vogel's was on par with Jim Hickey's epic old man's beard. Put the jug on will you bro, all these crook kiwis can wait till later. The first prize for whale watching goes to... Spot, the Telecom dog and his carked it wet blanket, what a sad guy. Sort your drinking out, more drugs, more threesomes.</p>
	<p>To register your interest and receive an update when this publication is available for purchase, please drop us a line at <a href="mailto:kekeno@kekeno.co.nz?subject=OUSA History - Registration of interest">kekeno@kekeno.co.nz</a></p>
      </div>
    </div>
  </div>
</div>
