<div id="landing" parallax [config]="parallaxConfig">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
	<div class="col">
	  <h1>Hello New Zealand!</h1>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid light">
  <div class="container">
    <div class="row">
      <div class="col">
	<h1 class="text-center">This is a heading</h1>
	<p>Oh no! Howsit goin, this hard case holden is as paru as a mean as Undie 500. Mean while, in Shortland Street, Mr Whippy and Fred Dagg were up to no good with a bunch of rip-off pohutukawas. The nuclear-free force of his burning my Vogel's was on par with Jim Hickey's epic old man's beard. Put the jug on will you bro, all these crook kiwis can wait till later. The first prize for whale watching goes to... Spot, the Telecom dog and his carked it wet blanket, what a sad guy. Sort your drinking out, more drugs, more threesomes.</p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid dark">
  <div class="container">
    <div class="row">
      <div class="col">
	<h1 class="text-center">This is a heading</h1>
	<p>Oh no! Howsit goin, this hard case holden is as paru as a mean as Undie 500. Mean while, in Shortland Street, Mr Whippy and Fred Dagg were up to no good with a bunch of rip-off pohutukawas. The nuclear-free force of his burning my Vogel's was on par with Jim Hickey's epic old man's beard. Put the jug on will you bro, all these crook kiwis can wait till later. The first prize for whale watching goes to... Spot, the Telecom dog and his carked it wet blanket, what a sad guy. Sort your drinking out, more drugs, more threesomes.</p>
      </div>
    </div>
  </div>
</div>
